h1{
    color: black;
}

h2{
    color: darkred;
}

p{
    font-size: x-large;
}

.header{
    color: green;
}

img{
    width: 900px;
}

ul, ol{
    font-style: italic;
}

a{
    text-decoration: none;
}

a:hover{
    font-size: xx-large;
    color: red;
}

.nounder{
    text-decoration: none;
}

